$font-family : 'Fira Code';

// font-size
$fs-heading : 62px;
$fs-sub-heading: 32px;
$fs-body-text: 18px;
$fs-label: 16px;
$fs-normal: 14px;
// font-weight
$fw-normal: 450;
//color
$primary-1 : #01080E;
$primary-2 : #011627;
$primary-3 : #011627;
$secondary-1: #607B96;
$secondary-2: #3C9D93;
$secondary-3: #4D5BCE;
$secondary-4: #E5E9F0;
$secondary-5:#43D9AD;
$accent-1: #FEA55F;
$accent-2: #43D9AD;
$accent-3: #E99287;
$accent-4: #C98BDF;
$line : #1E2D3D;
$gradients-1: #4D5BCE;
$gradients-2: #43D9AD;