@import '@styles/variable';
.nav {
    display: flex;
    justify-content: space-between;

    .nav__left {
        display: flex;
    }

    .nav__item {

        display: flex;
        border-left: 1px solid $line;

        &:last-child {
            border-right: 1px solid $line;
        }

        &.nav__item:hover .nav__link {
            opacity: 1;
        }

        .nav__link {
            line-height: 21px;
            font-weight: $fw-normal;
            font-size: $fs-label;
            padding: 17px 32px;
            opacity: 0.7;
            position: relative;
            transition: all 0.3s;
            color: $secondary-1;
            &.nav__link::after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                height: 3px;
                width: 0;
                background-color: $accent-1;
            }

            &.nav__link--active {
                color: $secondary-4;
                opacity: 1;
            }

            &.nav__link--active::after {
                width: 100%;
            }
        }
    }

    .nav__right {
        display: flex;
        align-items: center;
        margin-right: 10px;
        .nav__item:last-child {
            border-right: none;
        }
    }
}