@import '@styles/variable';

.container {
    max-width: 90%;
    margin: 20px auto;
    border: 1px solid $line;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    background-color: $primary-2;
    .content {
        min-height: calc(100vh - 155px);
        max-height: calc(100vh - 155px);
        overflow: auto;
        display: flex;
        justify-content: center;
    }
}