@import '@styles/variable';

.tag {
    display: inline-block;
    border-radius: 3px;
    padding: .2em .5em .3em;
    background: transparent;
    font-size: $fs-normal;
    margin: .25em .1em;
    border: 1px solid transparent;
	border-radius: 2px;
    color: white;
    cursor: pointer;
    &:hover {
        opacity: 0.7;
    }
}