@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');
@import '@styles/variable';
@import '@styles/codeTheme';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  font-family: 'Fira Code', monospace;
  background-color: $primary-1;
  color: $secondary-1;
}